.swords {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  max-width: 100vw;
}

@media screen and (max-width: 768px) {
  .swords {
    grid-template-columns: 1fr;
  }
}
